* {
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    height: 100%;
}
body {
    margin: 0;
    min-width: 640px;
    font: 18px/18px sans-serif;
    background: #f1f5f7;
    color: #333;
}
.wrapper {
    width: 640px;
    height: 100%;
    min-height: 480px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    flex: 0 0 18px;
    margin: 10px 0;
    white-space: nowrap;
    text-align: center;
    color: #B3C1C8;
    font-size: 35px;
    text-shadow: 0 1px 0 #fff;
}
