<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSL School</title>
    <script src="js/zepto.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/lib.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="wrapper">

    <h1>Please, enter two sets of parameters</h1>

    <div class="form">
        <label class="form__label">
            <textarea placeholder="Paste set of parameters here..." class="form__textarea form__textarea_1"></textarea>
        </label>
        <label class="form__label">
            <textarea placeholder="Paste set of parameters here..." class="form__textarea form__textarea_2"></textarea>
        </label>
    </div>

    <div class="settings">
        <input type="checkbox" class="settings__checkbox" id="settings__checkbox_left">
        <label class="settings__label" for="settings__checkbox_left">Show unique on left</label>
        <input type="checkbox" class="settings__checkbox" id="settings__checkbox_equal">
        <label class="settings__label" for="settings__checkbox_equal">Show equal</label>
        <input type="checkbox" class="settings__checkbox" id="settings__checkbox_diff" checked>
        <label class="settings__label" for="settings__checkbox_diff">Show different</label>
        <input type="checkbox" class="settings__checkbox" id="settings__checkbox_right">
        <label class="settings__label" for="settings__checkbox_right">Show unique on right</label>
    </div>

    <div class="result"></div>

    <div class="tip"><b>Tip:</b> input formats are <code>?param1=1&amp;param2=2</code> or <code>{"param1":"1","param2":"2"}</code></div>

</div>

<script type="text/template" id="template-diff">
    <h2>Different parameters</h2>
    <%
    _.each(items,function(value, key, list){
    %>
        <div class="result__item result__item_diff">
            <div class="result__item-block">
                <div class="result__item-name"><%- key %></div>
                <div class="result__item-value"><%- list[key][0] %></div>
                <div class="result__item-value"><%- list[key][1] %></div>
            </div>
        </div>
    <%
    });
    %>
</script>

<script type="text/template" id="template-equal">
    <h2>Equal parameters</h2>
    <%
    _.each(items,function(value, key, list){
    %>
    <div class="result__item result__item_equal">
        <div class="result__item-block result__item-center">
            <div class="result__item-name"><%- key %></div>
            <div class="result__item-value"><%- value %></div>
        </div>
    </div>
    <%
    });
    %>
</script>

<script type="text/template" id="template-unique-left">
    <h2>Unique parameters on left</h2>
    <%
    _.each(items,function(value, key){
    %>
    <div class="result__item">
        <div class="result__item-block result__item-unique">
            <div class="result__item-name"><%- key %></div>
            <div class="result__item-value"><%- value %></div>
        </div>
    </div>
    <%
    });
    %>
</script>

<script type="text/template" id="template-unique-right">
    <h2>Unique parameters on right</h2>
    <%
    _.each(items,function(value, key){
    %>
    <div class="result__item">
        <div class="result__item-block result__item-unique">
            <div class="result__item-name"><%- key %></div>
            <div class="result__item-value"><%- value %></div>
        </div>
    </div>
    <%
    });
    %>
</script>

</body>
</html>